@use '../theme';

.gallery {
  padding: 64px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 32px;
  }

  &__item {
    list-style: none;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
      aspect-ratio: 6 / 7;
    }
  }

  @media (max-width: theme.$breakTablet) { 
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: theme.$breakMobile) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}