@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Main
$firstColor: #000000;
$secondColor: #4F2AC3;
$thirdColor: #ffffff;

$fontFamily: 'Roboto', sans-serif;

// More
$backgroundColor: $thirdColor;
$backgroundGradient: radial-gradient(circle, $secondColor -33%, $thirdColor 100%);

// BreakPoints
$breakMobile: 768px;
$breakTablet: 992px;
$breakDesktop: 1406px;

.container {
  width: 100%;
  max-width: $breakDesktop;
  padding: 0 20px;
  margin: 0 auto;

  &--sm {
    max-width: 1000px;
  }
}